
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    font-family: bebas-neue-pro-semiexpanded, sans-serif;
    font-weight: 400;  
    font-style: normal;
    background-color: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  
  
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
padding: 2rem 4rem;
}

.main {
}

.header {
    background-color: black;
    color: white;
}

.logo {
    margin-left: 5rem;
}

.main-logo {
    display: block;
    font-size: 3.4rem;
    padding-bottom: .6rem;
}

.sub-logo {
    display: block;
    font-size: 1.8rem;
    letter-spacing: .1rem;
}

.abolition {
  font-family: "abolition", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.main-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.dest-heading {
    text-transform: uppercase;
    font-size: 3rem;
    align-self: start;
    margin-left: 8rem;
    padding-bottom: 3rem;
}

.main-view {
    display: flex;
    width: 80%;
    border: 1px solid #DDDDDD;
}

.main-img {
    width: 65%;
}

.side-panel {
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
    background-color: white;
}

.location {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.description {
    padding: 1rem 1rem ;
    font-size: 2rem;
    justify-self: flex-end;
    align-self: flex-end;
}

 .btn-style {
    
     /* width: 15rem; */
     /* position: absolute; */
     padding: 1.3rem 2rem;
     color: white;
     font-size: 2.2rem;
     background-color: black;
     border: none;
     border-radius: 1rem;
     cursor: pointer;
 }

 .main-add-button {
     display: flex;
     justify-content: flex-end;
     margin-top: 9rem;
     padding: 0 1rem;
 }

 .pros-cons {
     padding: .3rem 1rem;
     font-weight: 600;
 }

 .my-list-header {
    margin-top: 8rem;
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 2rem;
 }

 .h2-container {
     margin-left: 8rem;
 }
 
 .new-btn-container{
     margin-top: -1.5rem;
     margin-right: 8rem;
 }

 .my-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .heading-2 {
     font-size: 3rem;
 }

.card {
    position: relative;
    width: 30rem;
    margin: 0 .5rem;
    border: 1px solid #DDDDDD;
    margin-bottom: 1rem;
}

.card-image {
    width: 30rem;
    height: 20rem;
}

.card-info {
    padding: 1rem 1.5rem;

}

.card-location {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    padding: .5rem 2rem;
}

.card-description {
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 1rem 2rem;
    padding-bottom: 4rem;

}

.black-box {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 5rem;
    height: 3rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

.card:hover > .black-box {
    opacity: 1;
}

.update-form, .create-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);  
    border: 1px solid lightgray;
    border-radius: 1rem;
  }
  
  .update {
      display: flex;
      flex-direction: column;
      padding:3rem 5rem;
      width: 50rem;
  }
  
  input {
      margin-bottom: 1rem;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid #e4e4e4;
  }
  
  textarea {
      margin-top: 1rem;
      height: 10rem;
      border-radius: 1rem;
      border: 1px solid #e4e4e4;
  }
  
  .form-text {
      font-size: 3rem;
      padding-bottom: 2rem;
      margin-left: 5rem;
  }
  
  .subm-btn{
      margin-top: 2rem;
      width: 30%;
      border: none;
      background-color: rgb(56, 56, 56);
      color: white;
      font-size: 2.5rem;
      letter-spacing: .2rem;
      padding: 1rem;
      align-self: center;
      border-radius: 1rem;
      text-transform: uppercase;
      cursor: pointer;
  }

  .modal {
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 777;
}

.footer {
    margin-top: 8rem;
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/1.jpg");
    background-position: center;
    background-size: cover;
}

